<br>
<br>
<div class="sidebar-wrapper">

    <div class="logo">
        <a class="simple-text" href="http://www.creative-tim.com">
            <div class="logo-img">
                <img src="/assets/img/angular2-logo-white.png"/>
            </div>
            vacationPortal
        </a>
    </div>
    <ul class="nav responsive-nav">

        <li class="separator hidden-lg hidden-md" ></li>
        <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}}" routerLinkActive="active">
            <a [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
</div>
